.header1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 500px; */
    padding: 20px   150px;
    background-color: red;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.Cparent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 50px;
    gap: 20px;
}

.fle{
    display: flex;
    justify-content: space-between;
}

.inpQty{
    display: inline;
    width:50px;
}

.fa{
    cursor: pointer;
    font-size: 3em;
}

.fa-red{
    color: red;
}

.cart{
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    
}

.ct {
    position: relative;
    border: 1px solid white;
}

.badge{
    position: absolute;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}